@using OnlineSportShop.ViewModel;
@model List<Product>
@{
    ViewData["Title"] = "Index";

    Pager pager = new Pager();
    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPages;
    }

}
<section class="content">
      <div class="container-fluid">

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Product</h3>

                <div class="card-tools">
                  <div>
                    <a asp-controller="Products" asp-action="Create" asp-area="Admin" class="btn btn-success" >Add Product</a> 
                  </div>
                </div>
              </div>
              <div class="card-body table-responsive p-0" style="height: 450px;">
                <table class="table table-head-fixed">
                  <thead>
                    <tr>
                      <th>Product Name</th>
                      <th>Category</th>
                      <th>Description</th>
                      <th>Price</th>
                      <th>Image</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                <td>@item.ProName</td>
                                 <td>@item.Category.CatName</td>
                                <td>@item.Description</td>
                                <td>@item.Price</td>
                                <td>
                                    <img src="~/productImages/@item.ProImage" alt="" style="width:70px; height:70px;" />
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-controller="Products" asp-route-id="@item.ProId" class="btn btn-primary border-dark">Edit Category</a>
                                    <a asp-action="Delete" asp-controller="Products" asp-route-id="@item.ProId" class="btn btn-danger border-dark">Delete Category</a>
                                </td>

                                </tr>
                                }

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <partial name="_pager" model="@pager" />